*{
    margin: 0;
    padding: 0;
}
.NavBar{
    width: auto;
    height: auto;
    background-color: #95BB72;
    color: blue;
    height: 60px;

    display: flex;
    align-items: center;
}

.NavBar img{
    width: max-content;
    height: 50px;
    margin-left: 5px;
}